<template>
  <div class="home">
    <div id="page">
      <h1>Component : VSelect</h1>
      <h4>The HTML Select of the future.</h4>
      <h4 class="type">The Simple Select</h4>
      <VSelect
        class="vselect"
        name="myselect"
        :data="itemGenerator"
        search-enabled
        multiple
        selection-buttons
      />
    </div>
  </div>
</template>

<style lang="scss" scoped>
#page {
  width: 400px;
  margin: auto auto 6em auto;
}
.vselect {
  width: 350px;
  margin: auto auto 2em auto;
}
.type {
  text-align: left;
  position: relative;

  &::before {
    content: "#";
    color: #4fc08d;
    position: absolute;
    left: -20px;
  }
}
.left {
  text-align: left;
}
</style>

<script>
// @ is an alias to /src
import VSelect from "@/components/VSelect.vue";

export default {
  name: "vselect",
  components: {
    VSelect
  },
  computed: {
    itemGenerator() {
      let items = [];
      for (let i = 0; i < 1000; i++) {
        items.push({
          label: "Item number " + i,
          value: i
        });
      }
      return items;
    }
  }
};
</script>
