<template>
  <div
    class="component"
    :class="{ opened: opened }"
    v-click-outside="onClickOutside"
  >
    <div class="control" @click="toggleDropdown">
      <span class="label">{{ label }}</span>
      <span class="caret"
        ><span>{{ caret }}</span></span
      >
    </div>
    <div class="dropdown" :class="{ visible: opened }">
      <div v-if="searchEnabled" class="searchbox">
        <input
          placeholder="Search..."
          type="text"
          class="search"
          v-model="search"
          @change="runSearch"
        />
        <button @click="search = ''">&times;</button>
      </div>
      <div v-if="multiple && selectionButtons" class="actions">
        <button @click="selectAll(true)">
          Select All
        </button>
        <button @click="unselectAll(true)">
          Select None
        </button>
      </div>
      <div class="dropdown-list">
        <ul
          class="item-list"
          ref="itemlist"
          @wheel.prevent="onDropdownScrolled"
        >
          <li
            v-for="item in shownElements"
            v-bind:key="item.uid"
            class="item"
            v-bind:class="{ active: item.selected }"
            @click="onItemCliked(item)"
            v-bind:style="{ height: itemHeight }"
          >
            {{ item.label }}
          </li>
        </ul>
        <div class="scroll-control">
          <div class="scroll" ref="scrollbar">
            <div
              class="scrollblock"
              ref="scollblock"
              v-drag="boundingScroll"
              @scrolled="onBlockScrolled"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import vClickOutside from "v-click-outside";
import dragme from "../directives/dragme";

export default {
  name: "vselect",
  directives: {
    clickOutside: vClickOutside.directive,
    dragme
  },
  props: {
    readOnly: {
      type: Boolean,
      default: false
    },
    multiple: {
      type: Boolean,
      default: false
    },
    name: {
      type: String,
      required: true
    },
    selectionButtons: {
      type: Boolean,
      required: false
    },
    searchEnabled: {
      type: Boolean,
      default: false
    },
    searchCaseSensitive: {
      type: Boolean,
      default: false
    },
    data: {
      type: Array,
      default: function() {
        return [];
      }
    },
    value: {}
  },
  data() {
    return {
      opened: false,
      search: "",
      caret: "▾",
      items: {},
      searchResults: {
        items: [],
        marks: [],
        objects: {}
      },
      showInterval: [0, 1, 2, 3, 4, 5, 6, 7],
      selectedItem: {},
      selectedItems: [],
      selectedValue: this.value,
      working: false
    };
  },
  methods: {
    onBlockScrolled(top) {
      this.moveTo(top);
    },
    /**
     * Called when an item is clicked inside the dropdown.
     *
     * @param item  The item being clicked.
     */
    onItemCliked(item) {
      if (this.multiple) {
        this.onMultiselectItemClick(item, true);
      } else {
        this.onSelectItemClick(item, true);
      }
    },
    /**
     * Called when an item is clicked inside the dropdown in a simple select.
     *
     * @param item  The item being clicked.
     * @param sendEvent
     */
    onSelectItemClick(item, sendEvent) {
      if (Object.keys(this.selectedItem).length) {
        this.selectedItem.selected = false;
      }
      this.selectedItem = item;
      this.selectedItem.selected = true;
      if (sendEvent && !this.working) this.$emit("input", item.value);
      this.closeDropdown();
    },
    /**
     * Called when an item is clicked inside the dropdown in a simple select.
     *
     * @param item  The item being clicked.
     * @param sendEvent
     */
    onMultiselectItemClick(item, sendEvent) {
      if (item.selected) {
        item.selected = false;
        this.selectedItems = this.selectedItems.filter(element => {
          return element.uid !== item.uid;
        });
      } else {
        item.selected = true;
        this.selectedItems.push(item);
      }

      let itemsValue = [];

      this.selectedItems.forEach(item => {
        itemsValue.push(item.value);
      });

      this.selectedValue = itemsValue;

      if (sendEvent && !this.working) this.$emit("input", itemsValue);
    },
    /**
     * Called when a click is detected outside the current select component.
     */
    onClickOutside() {
      this.closeDropdown();
    },
    /**
     * Called when the user scroll the dropdown item list.
     */
    onDropdownScrolled(event) {
      let power = event.deltaY;
      if (this.isFirefox) {
        power /= 3;
      } else {
        power /= 100;
      }
      this.moveInterval(power);
    },
    /**
     * Close the dropdown.
     */
    closeDropdown() {
      if (this.opened) {
        this.opened = false;
        this.$emit("close", this);
      }
    },
    /**
     * Open the dropdown
     */
    openDropdown() {
      this.opened = true;
      this.$emit("open", this);
    },
    /**
     * Toggle the display state of the dropdown
     */
    toggleDropdown() {
      if (this.opened) {
        this.closeDropdown();
      } else {
        this.openDropdown();
      }
    },
    /**
     * Select every items in the select.
     *
     * @param {boolean=} onlyVisible  If only visible item (search results) should be selected. (Default = `false`)
     */
    selectAll(onlyVisible) {
      if (!this.multiple) return;
      onlyVisible = onlyVisible || false;
      if (onlyVisible) {
        Object.keys(this.searchResults.objects).forEach(key => {
          let item = this.items[key];
          if (!item.selected) {
            item.selected = true;
            this.selectedItems.push(item);
          }
        }, this);
      } else {
        Object.keys(this.items).forEach(key => {
          let item = this.items[key];
          if (!item.selected) {
            item.selected = true;
            this.selectedItems.push(item);
          }
        }, this);
      }

      let itemsValue = [];

      this.selectedItems.forEach(item => {
        itemsValue.push(item.value);
      });

      this.$emit("input", itemsValue);
    },
    /**
     * Unselect every items in the select.
     *
     * @param {boolean=} onlyVisible  If only visible item (search results) should be unselected. (Default = `false`)
     */
    unselectAll(onlyVisible) {
      if (!this.multiple) return;
      onlyVisible = onlyVisible || false;
      if (onlyVisible) {
        Object.keys(this.searchResults.objects).forEach(key => {
          this.searchResults.objects[key].selected = false;
        }, this);
      } else {
        Object.keys(this.items).forEach(key => {
          this.items[key].selected = false;
        }, this);
      }

      this.selectedItems = [];

      Object.keys(this.items).forEach(value => {
        if (this.items[value].selected) {
          this.selectedItems.push(this.items[value]);
        }
      });

      let itemsValue = [];

      this.selectedItems.forEach(item => {
        itemsValue.push(item.value);
      });

      this.$emit("input", itemsValue);
    },
    /**
     * Run a search by using the `search` value.
     *
     * SOURCE : https://gist.github.com/vpalos/4334557
     */
    runSearch() {
      let o_case = this.searchCaseSensitive;
      let o_mark = false;
      let o_prefix = "";
      let o_suffix = "";
      let o_word = true;
      let o_limit = this.items.length;

      // prepare query
      let query = o_case ? this.search : this.search.toLowerCase();
      query = query.replace(/\s+/g, o_word ? " " : "");
      query = query.replace(/(^\s+|\s+$)/g, "");
      query = query.split(o_word ? " " : "");
      let ql = query.length;

      let items = [];

      Object.keys(this.items).forEach(key => {
        items.push(this.items[key].label);
      });

      // prepare results
      let matches = {
        items: [],
        marks: [],
        objects: {}
      };

      // search
      for (let ii = 0, il = items.length; ii < il; ii++) {
        // prepare text
        let text = o_case ? items[ii] : items[ii].toLowerCase();
        let mark = "";

        // traverse
        let ti = 0;
        let wi = 0;
        let wl = 0;
        for (var qi = 0; qi < ql; qi++) {
          wl = query[qi].length;
          wi = text.indexOf(query[qi], ti);
          if (wi === -1) {
            break;
          }
          if (o_mark) {
            if (wi > 0) {
              mark += items[ii].slice(ti, wi);
            }
            mark += o_prefix + items[ii].slice(wi, wi + wl) + o_suffix;
          }
          ti = wi + wl;
        }

        // capture
        if (qi === ql) {
          if (o_mark) {
            mark += items[ii].slice(ti);
            matches.marks.push(mark);
          }
          if (matches.items.push(ii) === o_limit && o_limit) {
            break;
          }
        }
      }
      let uids = Object.keys(this.items);
      let app = this;
      matches.items.forEach(index => {
        matches.objects[uids[index]] = app.items[uids[index]];
      });
      this.searchResults = matches;
    },
    /**
     * Provide data to fill the component.
     */
    provide(data, clear) {
      console.log("Providing " + data.length + " items.");
      if (clear) {
        this.items = {};
      }
      let cIndex = 0;
      data.forEach((item, index) => {
        this.$set(this.items, item.value, {
          uid: index,
          label: item.label,
          value: item.value,
          search: item.label + item.value,
          selected: false,
          visible: cIndex < 9
        });
        cIndex++;
      });
      this.search = "";
      this.runSearch();
    },
    /**
     * Serialize every select item in this component.
     *
     * @return {array} Serialized content
     */
    serializeArray() {
      let serializedItems = [];
      let instance = this;
      Object.keys(this.items).forEach(key => {
        let currentItem = instance.items[key];
        if (currentItem.selected) {
          serializedItems.push({
            name: instance.name + (instance.multiple ? "[]" : ""),
            value: currentItem.value
          });
        }
      });
      return serializedItems;
    },
    /**
     * Scroll the dropdown item list by the provided power (1 = 4 items scrolled)
     */
    moveInterval(power) {
      for (let i = 0; i < this.showInterval.length; i++) {
        this.$set(this.showInterval, i, this.showInterval[i] + power * 4);
      }
      this.regularizeInterval();
    },
    /**
     * Check if the interval defined for this component is valid and correct it if needed.
     */
    regularizeInterval: function(call) {
      if (this.isIntervalNeeded) {
        if (this.showInterval[7] >= this.itemCount) {
          this.showInterval = [];
          for (let i = this.itemCount - 8; i < this.itemCount; i++) {
            this.showInterval.push(i);
          }
        } else if (this.showInterval[0] < 0 || this.showInterval.length < 8) {
          this.showInterval = [];
          for (let i = 0; i < 8; i++) {
            this.showInterval.push(i);
          }
        }
      } else {
        this.showInterval = [];
        for (let i = 0; i < this.itemCount; i++) {
          this.showInterval.push(i);
        }
      }
      if (!call) this.refreshScrollBar();
    },
    /**
     * Refresh the scrollbar for the dropdown list.
     */
    refreshScrollBar() {
      this.$refs["scollblock"].style.height =
        this.scrollHandlerVisualSize + "px";
      this.$refs["scollblock"].style.top = this.scrollHandlerPosition + "px";
    },
    moveTo(px) {
      let startP = px / this.scrollViewSize;
      let startI = Math.trunc(this.itemCount * startP);
      this.showInterval = [];
      for (let i = 0; i < 8; i++) {
        this.$set(this.showInterval, i, startI + i);
      }
      this.regularizeInterval();
    }
  },
  watch: {
    search() {
      this.runSearch();
      this.regularizeInterval();
    },
    "searchResults.objects"() {
      this.refreshScrollBar();
    },
    data(newValue) {
      this.provide(newValue, true);
    },
    value(value) {
      if (Array.isArray(value)) {
        this.selectedItems = [];
        Object.keys(this.items).forEach(val => {
          let item = this.items[val];
          item.selected = value.indexOf(item.value) !== -1;
          if (item.selected) {
            this.selectedItems.push(item);
          }
        });
      } else {
        if (this.items[value]) {
          this.selectedItem = this.items[value];
        }
      }
    }
  },
  computed: {
    label() {
      if (this.multiple) {
        let count = this.selectedItems.length;
        if (count === 0) {
          return "No item selected";
        } else if (count === 1) {
          return "1 item selected";
        } else {
          return count + " items selected";
        }
      } else {
        if (Object.keys(this.selectedItem).length) {
          return this.selectedItem.label;
        } else {
          return "-- Choose an item --";
        }
      }
    },
    isIntervalNeeded() {
      return this.itemCount > 8;
    },
    shownElements() {
      if (this.itemCount === 0) {
        return [];
      }
      let keys = Object.keys(this.searchResults.objects);
      let items = [];
      this.showInterval.forEach(index => {
        items.push(this.items[keys[index]]);
      });
      return items;
    },
    availableScrollHeight() {
      return this.$refs.scrollbar.scrollHeight;
    },
    itemHeight() {
      return this.availableScrollHeight / this.showInterval.length + "px";
    },
    scrollViewSize() {
      return this.availableScrollHeight - this.scrollHandlerVisualSize;
    },
    boundingScroll() {
      return [0, 245];
    },
    scrollHandlerSize() {
      let percentage = 8 / this.itemCount;
      return this.availableScrollHeight * percentage;
    },
    scrollHandlerVisualSize() {
      let handlerSize = this.scrollHandlerSize;
      if (handlerSize < 35) {
        return 35;
      } else if (handlerSize > this.availableScrollHeight) {
        return this.availableScrollHeight; // 280 - 0
      } else {
        return handlerSize;
      }
    },
    scrollHandlerPosition() {
      let percentage = this.showInterval[0] / (this.itemCount - 8);
      return percentage * this.scrollViewSize;
    },
    itemCount() {
      return Object.keys(this.searchResults.objects).length;
    },
    isFirefox() {
      return navigator.userAgent.indexOf("Firefox") !== -1;
    }
  },
  mounted() {
    if (this.data.length > 0) {
      this.provide(this.data, true);
    }
  }
};
</script>

<style lang="scss" scoped>
button:active,
button:focus,
input:active,
input:focus {
  outline: none;
  box-shadow: none;
}

.component {
  display: block;
  position: relative;
  color: black;
  width: 100%;
  height: 35px;
  border-radius: 4px;
  border: 1px solid #aaa;
  background-color: #f7f7f7;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
  margin: 8px 0;

  &.opened {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid transparent;
  }

  .control {
    display: flex;

    .label {
      display: block;
      margin: 0 8px;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      flex-grow: 1;
      text-align: left;
    }

    .caret {
      display: flex;
      width: 35px;

      span {
        margin: auto;
      }
    }
  }

  .dropdown {
    width: 100%;
    position: absolute;
    z-index: 10;
    background-color: #f7f7f7;
    left: -1px;
    border: 1px solid #aaa;
    border-top: 0 solid transparent;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    visibility: hidden;

    &.visible {
      visibility: initial;
    }

    .searchbox {
      width: 100%;
      display: flex;

      input {
        background-color: #eee;
        color: black;
        border: 0;
        height: 35px;
        padding: 0 8px;
        flex-grow: 1;
        font-size: 0.8em;
      }

      button {
        border: 0;
        border-radius: 0;
        width: 35px;
        background-color: #eee;
        color: black;
        font-size: 1em;
        cursor: pointer;

        &:hover {
          background-color: rgb(233, 40, 40);
          color: white;
        }
      }
    }

    .actions {
      display: flex;

      button {
        border: 0;
        border-radius: 0;
        flex-grow: 1;
        height: 35px;
        background-color: #ddd;
        color: black;
        font-size: 0.8em;
        cursor: pointer;

        &:hover {
          background-color: #4fc08d;
          color: white;
        }
      }
    }

    .dropdown-list {
      display: flex;
      width: 100%;

      .item-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-align: left;
        flex-grow: 1;
        max-height: 280px;
        overflow-y: hidden;

        .item {
          display: block;
          height: 35px;
          line-height: 35px;
          padding: 0 8px;

          &.hide {
            visibility: hidden;
          }

          &.invisible {
            display: none;
          }

          &.active {
            background-color: #4fc08d;
            color: white;
          }

          &:hover {
            background-color: #48af81;
            color: white;
          }
        }
      }

      .scroll-control {
        width: 8px;
        height: 280px;
        display: flex;
        flex-direction: column;

        .scroll {
          width: 8px;
          height: 280px;
          position: relative;
          overflow: hidden;

          .scrollblock {
            position: absolute;
            max-height: 280px;
            width: 8px;
            margin: auto;
            border-radius: 2px;
            background-color: rgba(0, 0, 0, 0.2);
            transition: 0.1s background-color;

            &:hover {
              background-color: rgba(0, 0, 0, 0.5);
            }
          }
        }
      }
    }
  }
}
</style>
